<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='icon' type='image/png' href='static/oRatio.png' />
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
</head>

<body class='h-100'>
    <div id='app'>
        <v-app id="oRatio">
            <v-app-bar>
                <v-toolbar-title>oRatio</v-toolbar-title>

                <v-tabs v-model="tab" color="deep-purple-accent-4">
                    <v-tab value="timelines"><v-icon>mdi-chart-timeline</v-icon>Timelines</v-tab>
                    <v-tab value="graph"><v-icon>mdi-graph-outline</v-icon>Graph</v-tab>
                </v-tabs>

                <v-spacer></v-spacer>

                <v-btn icon @click="tick">
                    <v-icon>mdi-metronome-tick</v-icon>
                </v-btn>
            </v-app-bar>

            <v-main class="fill-height">
                <v-card>
                    <v-card-text>
                        <v-window v-model="tab">
                            <v-window-item value="timelines" id="timelines">
                            </v-window-item>

                            <v-window-item value="graph" id="graph">
                            </v-window-item>
                        </v-window>
                    </v-card-text>
                </v-card>
            </v-main>
        </v-app>
    </div>

    <script type="importmap">
        { "imports": {
            "vue": "https://unpkg.com/vue",
            "vuetify": "https://unpkg.com/vuetify",
            "d3": "https://unpkg.com/d3",
            "ratio-solver": "https://unpkg.com/ratio-solver"
        } }
    </script>

    <script type='module'>
        import { createApp } from 'vue';
        import 'vuetify/styles';
        import { createVuetify } from 'vuetify';

        import { Connection } from 'ratio-solver';

        const vuetify = createVuetify();

        const app = createApp({
            data() {
                return {
                    tab: null
                }
            }, methods: {
                tick() {
                    ws.send('tick');
                }
            }
        });
        app.use(vuetify);
        app.mount('#app');

        const connection = new Connection();
        connection.add_solver();
        connection.connect();
        connection.resize(window.innerWidth, window.innerHeight - 80);
    </script>
</body>

</html>