<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='icon' type='image/png' href='static/oRatio.png' />
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.css'>
</head>

<body class='h-100'>
    <div id='app'>
        <v-app id="oRatio">
            <v-app-bar>
                <v-toolbar-title>oRatio</v-toolbar-title>

                <v-tabs v-model="tab" color="deep-purple-accent-4">
                    <v-tab value="timelines"><v-icon>mdi-chart-timeline</v-icon>Timelines</v-tab>
                    <v-tab value="graph"><v-icon>mdi-graph-outline</v-icon>Graph</v-tab>
                </v-tabs>

                <v-spacer></v-spacer>

                <v-btn icon @click="tick">
                    <v-icon>mdi-metronome-tick</v-icon>
                </v-btn>
            </v-app-bar>

            <v-main class="fill-height">
                <v-card>
                    <v-card-text>
                        <v-window v-model="tab">
                            <v-window-item value="timelines" id="timelines">
                            </v-window-item>

                            <v-window-item value="graph" id="graph">
                            </v-window-item>
                        </v-window>
                    </v-card-text>
                </v-card>
            </v-main>
        </v-app>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.js'></script>
    <script type="module" src='static/solver.js'></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module" src='static/solverD3.js'></script>

    <script type='module'>
        import { SolverD3 } from './static/solverD3.js';

        const { createApp } = Vue;
        const { createVuetify } = Vuetify;

        const vuetify = createVuetify();

        const app = createApp({
            data() {
                return {
                    tab: null
                }
            }, methods: {
                tick() {
                    ws.send('tick');
                }
            }
        });
        app.use(vuetify);
        app.mount('#app');

        const solver = new SolverD3();
        solver.resize(window.innerWidth, window.innerHeight - 80);

        let ws;
        setup_ws();

        window.addEventListener('resize', () => {
            solver.resize(window.innerWidth, window.innerHeight - 80);
        });

        function setup_ws() {
            ws = new WebSocket('ws://' + location.hostname + ':' + location.port + '/solver');
            ws.onmessage = msg => {
                const c_msg = JSON.parse(msg.data);
                switch (c_msg.type) {
                    case 'state_changed':
                        solver.state_changed(c_msg);
                        break;
                    case 'started_solving':
                        console.log('solving the problem..');
                        break;
                    case 'solution_found':
                        console.log('hurray!! we have found a solution..');
                        solver.solution_found();
                        break;
                    case 'inconsistent_problem':
                        console.log('the problem has no solution..');
                        solver.inconsistent_problem();
                        break;
                    case 'graph':
                        solver.graph(c_msg);
                        break;
                    case 'flaw_created':
                        solver.flaw_created(c_msg);
                        break;
                    case 'flaw_state_changed':
                        solver.flaw_state_changed(c_msg);
                        break;
                    case 'flaw_cost_changed':
                        solver.flaw_cost_changed(c_msg);
                        break;
                    case 'flaw_position_changed':
                        solver.flaw_position_changed(c_msg);
                        break;
                    case 'current_flaw':
                        solver.current_flaw_changed(c_msg);
                        break;
                    case 'resolver_created':
                        solver.resolver_created(c_msg);
                        break;
                    case 'resolver_state_changed':
                        solver.resolver_state_changed(c_msg);
                        break;
                    case 'current_resolver':
                        solver.current_resolver_changed(c_msg);
                        break;
                    case 'causal_link_added':
                        solver.causal_link_added(c_msg);
                        break;
                    case 'tick':
                        solver.tick(c_msg);
                        break;
                    case 'starting':
                        solver.starting(c_msg);
                        break;
                    case 'ending':
                        solver.ending(c_msg);
                        break;
                    case 'start':
                        solver.start(c_msg);
                        break;
                    case 'end':
                        solver.end(c_msg);
                        break;
                }
            };
            ws.onclose = () => setTimeout(setup_ws, 1000);
        }
    </script>
</body>

</html>